 <header>
    <nav class="clearfix container-col-8 bg-blue ">
        <div class="sm-col mx-auto nav-dark nav-small">
          <a href="http://blackdev1l.github.io" class="button py2 white">Home</a>
          <a href="https://blog.blackdev1l.com" class="button py2 white">Blog</a>
          <a href="https://blackdev1l.com/projects.html" class="button py2 white">Projects</a>
        </div>
    </nav>
      <div class="container-col-6 p1 center" id="icon">
          <a href="mailto:blackdevil93@gmail.com"><img src="assets/email.png"></a>
          <a href="https://www.facebook.com/blackdevil93"> <img src="assets/facebook.png"></a>
          <a href="https://twitter.com/_blackdev1l"> <img src="assets/twitter.png"></a>
          <a href="skype:metalblackdevilsk8"><img src="assets/skype.png"></a>
          <a href="https://www.linkedin.com/profile/view?id=134067921&trk=spm_pic"><img src="assets/linkedin.png"></a>
          <a href="https://www.flickr.com/photos/blackdevil93/"><img src="assets/flickr.png"></a>
          <a href="https://plus.google.com/+CristianAchille"><img src="assets/googleplus.png"></a>
          <a href="https://www.youtube.com/user/metalblackdevilsk8"><img src="assets/youtube-variation.png"></a>
          <a href="http://www.lastfm.it/user/blackdevil93"><img src="assets/lastfm.png"> </a>
          <a href="https://github.com/blackdev1l"><img src="assets/github.png"> </a>
          <a href="http://steamcommunity.com/id/blackuzzo/"> <img src="assets/steam.png"> </a>    
      </div>
</header>